/*reset start*/


/*main section starts*/

#id {
    margin: 0;
    height: 0;
    width: 0;
}

.main-content h1 {
    font-size: 80px;
    color: ivory;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    z-index: 10;
    transform: scale(1.1, 1.05);
    margin: auto;
}

.first-slogan {
    width: max-content;
}

.main-content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: ivory;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 3px;
}

.btn1 {
    border: 1px solid #fff;
    background: none;
    margin-top: 35px;
    color: ivory;
    font-size: 14px;
    padding: 15px 35px 15px 35px;
    font-family: 'Montserrat', sans-serif;
    font-stretch: wider;
    font-weight: 600;
    transition: color 0.4s linear;
    position: relative;
    transition: 0.6s;
}

.btn1:hover {
    background: rgb(105, 104, 104);
    content: "";
    border: none;
    cursor: pointer;
}

body {
    margin: 0px;
}

ul {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

p {
    margin: 0px;
}

.container {
    /* width: 100%; */
    width: 1200px;
    margin: 0 auto;
}

#main {
    height: 100vh;
    margin: 0px auto;
    background-image: url(/images/backgroundphoto.jpg);
    background-position: center;
    background-size: cover;
}

.main-overlay {
    width: inherit;
    height: inherit;
    background: black rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 1;
}

.main-navbar {
    height: 90px;
    display: flex;
    justify-content: space-around;
    z-index: 5;
    position: fixed;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    align-items: center;
}

.main-logo {
    cursor: pointer;
    letter-spacing: 0.5px;
    color: ivory;
    font-weight: 800;
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
    font-stretch: ultra-expanded;
}

.main-nav {
    color: ivory;
    width: 700px;
    letter-spacing: -0.5px;
    font-weight: 600;
    font-size: 14px;
    font-stretch: wider;
    word-spacing: 5px;
    display: flex;
    justify-content: space-around;
}

.main-content {
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*main section ends*/

.skills {
    display: grid;
    grid-template-columns: 8fr 4fr;
    position: relative;
    transform: translateY(20%);
}

.header {
    font-family: 'Montserrat', sans-serif;
    color: rgb(44, 44, 44);
    font-size: 1.7em;
    font-stretch: narrower;
}

.myskills-header {
    font-family: 'Montserrat', sans-serif;
    color: rgb(99, 98, 98);
    font-size: 1.2em;
    font-stretch: narrower;
}

.skills-info {
    font-family: 'Montserrat', sans-serif;
    color: rgb(99, 98, 98);
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 700;
    line-height: 30px;
}


/*second section end*/

.thirdsection-header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 800;
}