    /*reset start*/
    
    #id {
        margin: 0px;
        height: 0px;
        width: 0px;
    }
    
    span {
        margin: 0px;
        padding: 0px;
        align-items: center;
    }
    
    button {
        border: 1px solid #fff;
        margin: 0px;
        padding: 0px;
    }
    
    body {
        margin: 0px;
    }
    
    ul {
        list-style-type: none;
        font-family: 'Montserrat', sans-serif;
        padding: 0px;
        margin: 0px;
        cursor: pointer;
    }
    
    i {
        color: white;
        font-weight: bolder;
        size: 20px;
    }
    
    h1,
    p {
        margin: 0px;
    }
    
    h1 {
        font-size: 80px;
        color: ivory;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        margin-right: 50px;
        z-index: 10;
    }
    
    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 100;
        color: ivory;
        padding-left: 20%;
        font-family: 'Titillium Web', sans-serif;
        letter-spacing: 3px;
    }
    
    button {
        margin: 10px;
        background: none;
        color: ivory;
        font-size: 14px;
        margin-left: 35%;
        padding: 15px 35px 15px 35px;
        font-family: 'Montserrat', sans-serif;
        font-stretch: wider;
        font-weight: 600;
    }
    
    .container {
        width: 1200px;
        margin: 0 auto;
    }
    
    #main {
        width: 100%;
        height: 708px;
        margin: 0px auto;
        background-image: url(/images/backgroundphoto.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
    }
    
    .main-overlay {
        width: 100%;
        height: inherit;
        background: black rgba(0, 0, 0, 0.8);
        position: absolute;
        z-index: 1;
    }
    
    .main-container {
        width: 100%;
        margin: 0px auto;
        height: inherit;
    }
    
    .main-slide-arrows {
        width: 100%;
        bottom: 45%;
        position: absolute;
        justify-content: center;
        display: flex;
        height: 100px;
        color: ivory;
    }
    
    .main-navbar {
        justify-content: space-between;
        padding-top: 20px 0px;
        align-items: center;
        display: flex;
        width: 1200px;
        height: 90px;
        z-index: 5;
    }
    
    .main-logo {
        cursor: pointer;
        letter-spacing: 0.5px;
        padding-bottom: 5px;
        padding-left: 30px;
        color: ivory;
        font-weight: 800;
        font-size: 23px;
        font-family: 'Montserrat', sans-serif;
        font-stretch: ultra-expanded;
        width: 70px;
        height: 30px;
    }
    
    .main-nav {
        color: ivory;
        letter-spacing: -0.5px;
        font-weight: 600;
        font-size: 14px;
        padding-top: 20px;
        padding-right: 40px;
        font-stretch: wider;
        word-spacing: 5px;
        display: flex;
        width: 600px;
        height: 40px;
        justify-content: space-around;
        font-weight: 1900;
    }
    
    .main-header {
        margin: 0px auto;
    }
    
    .main-content {
        position: absolute;
        left: 25%;
        top: 40%;
    }
    
    .slider-boxes {
        border: ivory;
    }