#sections {
    width: 90vw;
    background: rgb(231, 231, 231);
    transition: 0.5s;
}

#sections button {
    width: 1350px;
    appearance: none;
    background: none;
    height: 60px;
    border: none;
    text-align: left;
    font-size: 1.3em;
    font: 700;
    color: rgb(78, 78, 78);
    cursor: pointer;
    padding-left: 20px;
}

#sections:hover {
    background: rgb(180, 180, 180);
}

#sections i {
    color: rgb(78, 78, 78);
    font: 700;
    border: none;
    font-size: 1.3em;
    z-index: 10;
}

#subsec {
    width: 90vw;
    padding: 20px;
    max-height: 0;
    overflow: hidden;
}